<div class="filter-cuisines">
  <input type="checkbox" id="cuisine_1" name="cuisine" value="Lebanese">
 <label>Lebanese</label>

  <input type="checkbox" id="cuisine_2" name="cuisine" value="American">
  <label>American</label>

  <input type="checkbox" id="cuisine_3" name="cuisine" value="Greek">
  <label>Greek</label>

  <input type="checkbox" id="cuisine_4" name="cuisine" value="Indian">
  <label>Indian</label>

  <input type="checkbox" id="cuisine_5" name="cuisine" value="Italian">
  <label>Italian</label>

  <input type="checkbox" id="cuisine_6" name="cuisine" value="Chinese">
  <label>Chinese</label>

  <input type="checkbox" id="cuisine_7" name="cuisine" value="Mexican">
  <label>Mexican</label>

  </div>


