<div class="location-cuisines">
 
  <input type="checkbox" id="location_1" name="location" value="Flatiron">
  <label>Flatiron</label>

  <input type="checkbox" id="location_2" name="location" value="West Village">
  <label>West Village</label>

  </div>