<div class="location-cuisines">
 
  <input type="checkbox" id="location_1" name="location" value="Flatiron">
  <label>Flatiron</label>

  <input type="checkbox" id="location_2" name="location" value="West Village">
  <label>West Village</label>

  <input type="checkbox" id="location_3" name="location" value="Midtown">
  <label>Midtown</label>

  <input type="checkbox" id="location_4" name="location" value="Upper West Side">
  <label>Upper West Side</label>
  
  </div>